body{
    font-family:arial;
}
#countryList{
    display: inline-block;
    height:70vh;
    overflow-y: auto;
}
#countryList div.hide{
    display:none;
}
#content{
    display: inline-block;
    vertical-align: top;
    padding-left:100px;
}
img{
    width:100px;
    border: solid thick gray;
}